.header {
    align-items: center;
    background-color: var(--green);
    display: flex;
    height: 70px;
    justify-content: center;
    width: 100%;
}

header .logo {
    width: 50px;
    margin: 10px;
}

h1 {
    font-size: 15px;
}
.banner {
    width: 100%;
}